.content{
	background-color: rgba(255,255,255,.5);
}


/* HEADER */

@media only screen and (max-width: 500px){
  
  }



#aboutBlock{
	background-color: rgba(140,175,175,.3)
}

#useCasep{
    width: 80%;
    text-align: left;
}

#li-content-about p{
	padding-left: 10px;
}

@media only screen and (max-width: 849px){
	#li-content-about {
	    float: left;
	    width: 100%;
	    min-height: 160px;
	}
}


@media only screen and (min-width: 1441px){
	#li-content-about {
	    float: left;
	    width: 30%;
	    min-height: 360px !important;
	    margin-left: 3%;
	}
}












