/* docs.css */

/* ---------- */
/* GENERAL SETUP */
/* ---------- */


* {
    box-sizing: border-box;
}


[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

u{
   text-decoration: underline;
   text-decoration-color: wheat;

}

ul {
	list-style: none;
}


.outline li{
	list-style: none:;
	margin: 20px;
}

.buffer4{
  margin-top: 4%
}

.buffer8{
  margin-top: 8%
}

.buffer16{
  margin-top: 16%
}

.floatleft{
	float: left;
}


/* ---------- */
/*  HEADER */
/* ---------- */


@media only screen and (max-width: 500px){
  .header img{
    width: 20% !important;

  }
}

.header{
  align-self: center;
}

.header img{
    width: 10%;
   
  }
}



/* ---------- */
/*  BODY  */
/* ---------- */

body {
  background-color: #ffffff;
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content{
	background-color: white;
}

.dwnld_pdf{
	display: inline;
}

.dwnld_pdf span{
	margin: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dwnld_pdf i{
	margin-top: 10px;
}

/* ---------- */
/*  TEXT  */
/* ---------- */


a{
  color: black;
  font-family: 'Source Sans Pro',Helvetica,arial,sans-serif;
  text-decoration: none;
}

a:active{
  color: red;
}

p {
  margin: 10px 0px 15px;
  font-family: 'Source Sans Pro',Helvetica,arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
}

#author{
	text-align: center;
}

#publish-date{
	text-align: center;
}

#pdfs_links{
	text-align: center; 
}




/* ---------- */
/*  HEADER */
/* ---------- */


#outline-dropdown{
	float: left !important;
	margin: 0 0 0 30px !important;
}

.header{
    background-color: aliceblue;
    top: 0;
    width: 100%;
    height: auto;
}

#logo01{
	width: 7%;
    margin: 10px;
}





/* ---------- */
/*  LIST  */
/* ---------- */


.articles{
	padding-left: 10px;
}

.articles li{
	padding: 5px 0px 5px 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.outline{
	
    background-color: #f1f1f1;
    height: 100%; 
    margin-top: 0px;
    overflow: auto; 
}


.articles li:hover{
	background-color: #f9f9f9;
}

.pushdown{
	padding-top: 30px;
}

 

/* ---------- */
/*  TRANSITION SETUP */
/* ---------- */

.sidenav {
	/*margin-top: 100px;*/
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    overflow-x: hidden;  
    transition: 0.5s; 
}

.burger_menu{
	margin: 0px;
	top: 70px;
    position: fixed;
}

span{
	margin-left: 400px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
 }

 #maindocbody {
    transition: margin-left .5s;
    padding: 20px;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



footer{
	height: 100px;	
	background-color: #fff;
}
