#header-page{
	padding-top: 50px;
}

#header-page h1{
	font-family: 'Source Sans Pro',Helvetica,arial,sans-serif;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
}

#header-page-left{
    padding-top: 50px;
}

#header-page-left h1{
  font-family: 'Source Sans Pro',Helvetica,arial,sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
}

#navbarAbout{
	position: fixed;
	background-color: rgba(255,255,255,.8);
	width: 100%;
	height: 50px;
    -webkit-backdrop-filter: blur(50px);
}

#navbarAbout a{
	color: black;
}

#navbarAbout ul {
    margin: 0px 0px 0px 0px;
    padding: 0;
    display: inline-block;
    list-style: none;
    height: 100%;
    float: right;
}

#navbarAbout li a {
    display: block;
    padding: 10px 40px 12px;
    font-size: 22px;
    font-weight: 100;
    text-decoration: none;
}

#navbarAbout li a:hover {
    background-color: #f1f1f1;
    color: teal;
}

