/* home.css */

/* ---------- */
/* GENERAL SETUP */
/* ---------- */


* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#team_u{
   
   text-decoration-color: darkslateblue;

}

#ad_u{
    text-decoration-color: lightskyblue;  
}

#mrkt_u{
    text-decoration-color: thistle;   
}

#rdmp_u{
    text-decoration-color: white;  
    text-align: center;   
    margin-top: 50px;
}

.text_center{
  text-align: center;
}

ul {
  list-style: none;
  padding: 0px;
}


li > p{
  text-align: center;
}

.buffer4{
  margin-top: 4%;
}

.buffer6{
  margin-top: 6%;
}

.buffer8{
  margin-top: 8%;
}

.buffer12{
  margin-top: 12%;
}

.buffer16{
  margin-top: 16%;
}

.margin-bottom-80{
  margin-bottom: 80px;
}


/* ---------- */
/*  HEAD SETUP */
/* ---------- */


.header{
  align-self: center;
}

.header img{
    width: 10%;
    align-self: center;
    margin-left: 45%;
    margin-top: 8%;
  }

#logo {
  font-family: 'Dosis',Helvetica,arial,sans-serif;
}


#main-top-whatis p{
  font-size: 20px;
  text-align: center;
  line-height: 140%;
  font-family: Open Sans;
}

#main-top-whatis a p{
  text-align: center;
  border-radius: 20px;
  width: 40%;
  margin: auto;
  padding: 7px;
  color: white;
  background-color: cornflowerblue;
}

#main-top-whatis h4:hover {
  background-color: #f1f1f1;
  color: teal;
}

.button p{
  text-align: center;
  border-radius: 20px;
  width: 40%;
  margin: auto;
  padding: 7px;
  color: white;
  background-color: cornflowerblue;
}

.button p:hover {
  background-color: #f1f1f1;
  color: teal;
}

/* ---------- */
/*  MENU SETUP */
/* ---------- */

#navbar-logo{
  height: 30px;
  float: left;
  margin: 10px 0 0 12px;
}


#small-logo{
  float: left;
  height: 40px;
  visibility: hidden;
  position: absolute;
  opacity: .4;
  left: 10px;
  top: 5px;
}


nav{
  text-align: center;
  margin: 0px 0px 0px 0px;
  
}

#navbar{
  height: 100px;
  position: inherit;  
  width: 100%;
  top: 0;
  z-index: 999;
}


.pad40{
  padding-top: 10px;
}

nav ul {
    margin: 20px 20px 0px 0px;
    padding: 0;
    display:inline-block;
    list-style: none;
    height: 100%;
    float: right;
}

nav li {
    display:inline-block;
    height: 100%;
}
nav li a {
    display: block;
    padding: 10px 40px;
    font-size: 16px;  
    font-weight: 100;
    text-decoration: none;
}

nav li p{
    display: block;
    padding: 10px 40px 5px;
    font-size: 16px;  
    font-weight: 100;
    text-decoration: none;
}

nav li a:hover {
    background-color: #f1f1f1;
    color: teal;
}

button{
  border-radius: 100px;
  background-color: #76CBFF;
  border: none;
  text-align: center;
  width: 300px;
  height: 44px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

button a{
  color: white;
  margin: auto;
  text-align: center;
}

.alpha-invite-button{
  
  background-color: crimson;
}
/*  MAIN MENU DROPDOWN */



.dropdown-con-menu {
    display: none;
    position: absolute;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: rgba(255,255,255,0.4);
    -webkit-backdrop-filter: blur(5px);
}

.drop-down-menu:hover .dropdown-con-menu {
    display: block;
}

/*  MOBILE MENU DROPDOWN */

#mobileMenuDropdown{
  margin: 14px 0px 0px 26px;
  width: 16px;
  z-index: 0;
}

#menuMobile{
  position:fixed;
  top:0px;
  width: 70px;
  height: 40px;
  right: 0;
  border-radius: 0 0 0 10px; 
  background-color:rgba(200,200,200,.4);
  color: #FFFFFF;
  z-index:999;
  -webkit-backdrop-filter: blur(5px);
}

#mobile-menu-content{
    width: 150px;
    right: 0px;
    position: absolute;
}

#menuMobile:hover{
   background-color:rgba(2,2,2,.4);
}


.dropdown-content{
  display: none;
  background-color: rgba(249,249,249,.9);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
  margin-top: 5px;
  -webkit-backdrop-filter: blur(5px);
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: teal;
}

.dropdown-content a:click {
  background-color: #f1f1f1;
  color: teal;
}

.show {
  display:block;
}







/* ---------- */
/*  BODY SETUP */
/* ---------- */

body {
  background-color: #ffffff;
  background-image: url("assets/images/body-background.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -webkit-font-smoothing: antialiased;
  -o-background-size: cover;
  background-size: cover;
  background-position: center 12%;
  position: absolute;
  margin: 0px;
} 













/* ---------- */
/* MEDIA TAGS */
/* ---------- */


/* For mobile phones */
[class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 767px) {
  [class*="col-"]{
    float:none;
    padding: 0px 15px 0px 15px;
  }
}

/* For desktop */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* HEADER */
@media only screen and (max-width: 500px){
  .header img{
    width: 70% !important;
    align-self: center !important;
    margin-left: 16% !important;
    padding-top: 40px !important;
  }
}


/* TEXT */

@media only screen and (max-width: 767px){
  .use-case{
    text-align: center; 
  }
  .use-case h3{
    text-align: center; 
    padding-top: 15px;
  }
  .use-case p{
    padding-top: -5px;
  }
}


/* TEAM LIST 

@media only screen and (min-width: 768px) {
  #content_list {
    float: left;  
    width: 33%;
    text-align: center;
     
  }
  #panel {
    text-align: left;
    width: 70%;
    text-align: center;
  }
  

}

@media only screen and (max-width: 767px) {
  #content_list{
    width: 100%;
  }
   nav{
    display: none !important;
  }
}
*/
/* MENU*/

@media only screen and (min-width: 767px){
  
  #menuMobile{
  display: none;
  }
}


@media only screen and (max-width: 767px){

  .center-links{
    padding-top: 30px;
  }

  #second-block{
    padding: 20px 0px 50px 0px !important;
  }
}










/* ---------- */
/* VIDEO  */
/* ---------- */

@media only screen and (max-width: 768px) {
  #play-icon{
    height: 100px;
    margin-top: 40px;
  }
}

@media only screen and (min-width: 768px) {
  #play-icon{
    height: 100px;
    margin-top: 40px;
  }
}

@media only screen and (min-width: 1024px) {
  #play-icon{
    height: 200px;
   
  }
}

#play-icon{
  display: block;
  margin: auto; 
  margin-top: 90px;
  margin-bottom: 30px;
}










/* ---------- */
/* TEXT SETUP */
/* ---------- */


a{
  color: black;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-decoration: none;
}

a:active{
  color: red;
}

p {
  margin: 10px 0px 15px;
  font-family: "Open Sans",-apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1{
  font-family: "Open Sans",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  text-align: center;
}

h2{
  font-family: "Open Sans",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: light;
}

h3{
  font-family: "Open Sans",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;  
}

h4{
  font-family: "Open Sans",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;  
}

h5{
  font-family: "Open Sans",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;  
}

#intro_protean{
  line-height: 30px;
  font-weight: 100;
}
.protean-circle{
  width: 56px;
  height: 56px;
  position: absolute;
  
  border-radius: 100%;;
}

#protean1{
  background-color: rgba(89, 192, 252, 0.3);
}


#protean2{
  background-color: rgba(224, 34, 34, 0.3);
}

#protean3{
  background-color: rgba(69, 231, 177, 0.3);
  float: right; 
}

.heading-center{
  text-align: center;
  font-size: 18px;
  margin-top: -5px; 
}

.large_links{
  font-size: 20px;
  font-family: "Open Sans",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}


.center-links{
  text-align: center; 
}

#test ul{
  list-style: none;
  padding: 0;
  margin: auto 0;
}

#test-cases ul li{
float: left;
list-style: none;
width: 33%;
padding: 0.5em 1em;
text-align: center;
margin-bottom: 40px;
}

#test-cases ul li p{
  text-align: center;
  width: 70%;
  margin-left: 14%;
}

.use_cases img{
  max-width: 180px;

}

#test-cases img{
  max-width: 200px;
  padding: 0px;
}


#roadmap-table{
  margin-left: auto;
  margin-right: auto;
}

table tr th {
 padding: 0px 15px 0px 15px;
}

.timeline-bubble p{
max-width: 260px;
}

.timeline-bubble{
  background-color: white;
  border: 1px solid  #BD10E0;
  width: 36px;
  height: 36px;
  border-radius: 100px;
}

.timeline-bubble:hover{
  background-color: #BD10E0;
  border: 1px solid  #BD10E0;
  width: 36px;
  height: 36px;
  border-radius: 100px;
}

.timeline-bubble > div{
  display: none;
  position: absolute;
  margin: 30px 0px 0px -20px;
}
  
.timeline-bubble:hover > div{
  display: block;
  position: absolute;
}





.roadmap-list{
  text-align: center;
}



/* ---------- */
/* BLOCKS */
/* ---------- */



.block_exp_1 img{
  max-height: 400px;
}

.block_exp_1 h3{
  margin: 0;
  padding-top: 80px;
}


.block_exp_1 .col-4{
  text-align: center;
}

.block_future{
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0 -4px 18px 0 rgba(74, 140, 220, 0.4), 0 10px 16px 0 rgba(74, 140, 220, 0.4);
}

.block_future img{
  max-width: 600px;
}

.block_future h1{
  color: white;
  padding-top: 60px;
}

.block_future h3{
  color: white;
  font-weight: 600;
  padding-top: 14px;
}

.block_future p{
  color: white;
}




/* -------------- */

#circle_adam{
    background-color: darkseagreen;
    width: 200px;
    height: 200px;
    margin-left: 2%;
    margin-top: -30%;
    opacity: .4;
}

#circle_erin{
    background-color: yellow;
    width: 200px;
    height: 200px;
    margin-left: 15%;
    margin-top: -20%;
    opacity: .4;
}

#circle_ian{
    background-color: grey;
    width: 200px;
    height: 200px;
    margin-left: 40%;
    margin-top: -40%;
    opacity: .4;
}

#circle_wes{
    background-color: blue;
    width: 200px;
    height: 200px;
    margin-left: 50%;
    margin-top: -10%;
    opacity: .4;
}

#circle_dapphub{
    background-color: purple;
    width: 200px;
    height: 200px;
    margin-left: 8%;
    margin-top: -4%;
    opacity: .4;
}






.sign_up{
  background-color: #76CBFF;
  min-height: 300px;
}
.sign_up h3{
  color: white;
}





/* ---------- */
/* FOOTER */
/* ---------- */

.footer{
  background-color:#000000;
  font-size: 14px;
  height: 300px;
  padding-top: 80px;
}

.footer p{
  color: rgb(200,200,200);
}

.footer a{
  color: rgb(200,200,200);
}
