
#roadmap-block{
  background-color: rgba(176, 224, 230,.4);
  min-height: 350px;
}

#roadmapHeader{
  background-color: rgba(176, 224, 230,.4);
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}


.timeline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
  top: 50px;
  bottom: 0;
}

/* Container-timeline around content */
.container-timeline{
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  top: 100px;
  float: left;
  visibility: hidden;
  

}

.vertical-timeline-seperate{
  border-left: solid 1px black;
  height: 60px;
}

/* The circles on the timeline */
.timeline-circle{
  content: '';
  position: relative;
  width: 20px;
  height: 20px;
  border: 0px;
  top: 41px;
  border-radius: 50%;
  z-index: 1;
  opacity: .5;
  float: left;
}

/* Place the container-timeline to the left */
.left {
  left: 0;
}

/* Place the container-timeline to the right */
.right {
  left: 55%;
}

/* Add arrows to the left container-timeline (pointing right) */
.left::after {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}




/* The content */
.content-timeline {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  top: 50px;
  

}

/* container for the circles on the timeline*/
.circle-container{
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0;
}


/* actual circles */
#circle-color-1{
  background-color: blue;
}

#circle-color-2{
  background-color: steelblue;
}

#circle-color-3{
  background-color: darkred;
}
#circle-color-4{
  background-color: burlywood;
}

#circle-color-5{
  background-color: violet;
}

#circle-color-6{
  background-color: slategrey;
}

#circle-color-7{
  background-color: thistle;
}

#circle-color-8{
  background-color: skyblue;
}

#circle-color-9{
  background-color: chartreuse;
}

#circle-color-10{
  background-color: darkgoldenrod;
}

#circle-color-11{
  background-color: steelblue;
}

#circle-color-12{
  background-color: darkolivegreen;
}

#circle-color-13{
  background-color: black;
}

#circle-color-14{
  background-color: darkorchid;
}

#circle-color-15{
  background-color: tomato;
}


@media all and (max-width: 1024px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 27px;
  }

/* Full-width container-timelines */
  .container-timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container-timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right container-timelines behave like the left ones */
  .right {
    left: 0%;
  }
}